.logo{
    width: 150px;
    margin-top: 20px;
    object-fit: contain;
    margin-bottom: 20px;
}
.signUp{
    display: grid;
    place-items: center;
}
.signUp > form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: rgb(255,255,255);
    border: 1px solid lightgray;
    padding-bottom: 20px;
    margin-top: 25px;
}
.signUp > form > input{
    background: #FAFAFA;
    border: 1px solid lightgrey;
    outline: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.signUp > form > button{
    background-color: rgb(178,223,252);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 800;
    height: 49px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    cursor: pointer;
}