.app_container {
  display: flex;
}
.left {
  width: 55%;
  height: 95vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.left::-webkit-scrollbar {
  display: none;
}
.left::-webkit-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.right {
  width: 45%;
}
/* when screen less than 768px*/
@media only screen and (max-width: 768px) {
  .app_container {
    display: block;
  }
  .left{
      width:100%;
      overflow-y:unset;
  }
  .right{
      /* width: 100%; */
      display: none;
  }
}
